@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Poppins&display=swap");
* {
  font-family: "Oxygen Mono", monospace;
  font-family: "Poppins", sans-serif;
  margin: 0;
  user-select: none;
  padding: 0;
}
:root {
  --lg: 40px;
  --focus: 22px;
  --change: -18px;
  --change2: 30px;
  --changefont: 21px;
}
#backgroundLayer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  transition: all 200ms ease-in-out;
  pointer-events: none;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#root {
  display: flex;
  height: 80%;
  width: 100%;
  position: relative;
  align-self: center;
  transition: all 100ms ease-in-out;
}
/* GLOBAL */
body {
  background-color: rgb(45, 50, 54);
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

input[type="text-area"] {
  color: white;
}
input {
  color: white;
}
img {
  height: 100%;
  pointer-events: none;
}
a {
  text-decoration: none;
  transition: all 200ms ease-in;
  height: 100%;
  width: 100%;
}

a:hover {
  opacity: 1;
}
nav {
  position: static;
  width: 20vw;
  display: flex;
  align-self: center;
  height: 100%;
  min-width: max-content;
  z-index: 1000;
  transition: all 200ms ease-in-out;
}

nav a {
  color: white;
  opacity: 0.5;
}
nav::after {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    white,
    rgba(255, 255, 255, 0.1)
  );
  content: "";
  height: 100%;
  display: block;
  width: 2px;
}

/* ------------------------------------------------- */
.burger {
  display: none;
  position: absolute;
  top: -50px;
  background: transparent;
  outline: none;
  color: white;
  border: none;
  left: 25px;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto 0 auto auto;
  font-size: var(--lg);
  text-align: right;
  padding-right: 15px;

  justify-content: space-between;
  height: 70%;
}
.nav-ul li {
  position: relative;
}

.focus {
  transform: scale(1.1);
  opacity: 1;
}
/* ------------------------------ */
.Habit {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 20%;
  pointer-events: none;
  left: 58%;
  transform: translateX(-50%);
  font-size: 300px;
  opacity: 0.1;
  background: -webkit-linear-gradient(
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0.5),
    rgb(0, 0, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ------------------------------ */
.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
}
.contact-container {
  align-self: center;
  margin: auto;
  width: 50%;
  border: 1px solid;
  padding: 20px;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-image: linear-gradient(
      rgba(255, 255, 255, 0),
      white,
      rgba(255, 255, 255, 0)
    )
    1 / 1px;
}

.timers-container {
  align-self: center;
  margin: auto;
}
.timer {
  background-color: #600010;
  padding: 50px;
  height: 50px;
  border: 1px solid white;
}
.goals-container {
  align-self: center;
  margin: auto;
}
/* GRID & ABOUT */
.about-container {
  align-self: center;
  margin: auto;
  width: 60%;

  height: 100%;
}
.projects {
  grid-area: projects;
}
.projects::before {
  content: "Projects";
  z-index: 20;
  top: var(--change);
  left: var(--change2);
  font-size: 24px;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
}
.name {
  grid-area: name;
}
.name::before {
  content: "Name";
  top: var(--change);
  left: var(--change2);
  font-size: var(--changefont);

  position: absolute;
  color: rgba(255, 255, 255, 0.6);
}
.location {
  grid-area: location;
}
.location::before {
  content: "Location";
  top: var(--change);
  left: var(--change2);
  font-size: var(--changefont);

  position: absolute;
  color: rgba(255, 255, 255, 0.6);
}
.education {
  grid-area: education;
}
.education::before {
  content: "Education";
  top: var(--change);
  left: var(--change2);
  font-size: var(--changefont);

  position: absolute;
  color: rgba(255, 255, 255, 0.6);
}
.university {
  grid-area: university;
}
.university::before {
  content: "University";
  top: var(--change);
  left: var(--change2);
  font-size: var(--changefont);

  position: absolute;
  color: rgba(255, 255, 255, 0.6);
}
.skills {
  grid-area: skills;
  display: grid;
}

.skills::before {
  content: "Skills";
  top: var(--change);
  left: var(--change2);
  font-size: var(--changefont);

  position: absolute;
  color: rgba(255, 255, 255, 0.6);
}
.hobbies {
  grid-area: hobbies;
}
.hobbies::before {
  content: "Hobbies";
  top: var(--change);
  left: var(--change2);
  font-size: var(--changefont);

  position: absolute;
  color: rgba(255, 255, 255, 0.6);
}
.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 0.7fr 0.7fr 2fr;
  gap: 20px;
  grid-template-areas:
    "projects projects"
    "name location "
    "education university"
    "skills hobbies";
}

.grid-itm {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  position: relative;
  display: flex;
}
.grid-itm span {
  margin-left: 30px;
  color: white;
  font-size: 18px;
  align-self: center;
}
.projects-motion-container {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 30px;
}

.project {
  height: 200px;
  /* background: white; */
  opacity: 0.5;
  border-radius: inherit;
  transition: opacity 300ms ease;
  display: flex;
  flex-direction: column;
  position: relative;
}
.project a {
  margin: auto;
  width: max-content;
  color: white;
  font-size: 20px;
  position: absolute;
  top: -15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30%;
  padding: 2px;
  left: 30px;
  transform: translateX(-50%);
  height: max-content;
}
.project a:hover {
  color: black;
}
.project:hover {
  opacity: 1;
  z-index: 3;
}
.skills,
.hobbies {
  display: flex;
  justify-content: space-around;
  color: white;
}
.skills ul,
.hobbies ul {
  align-self: center;
  height: 80%;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skills ul {
  height: 40%;
}

li {
  list-style: none;
}
/* GOALS */
.goals-container,
.review-container {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}
.goals-top {
  width: 80%;
  margin: auto;
}
.goals-top::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    white,
    rgba(255, 255, 255, 0.1)
  );
  content: "";
  width: 100%;
  display: block;
  height: 2px;
}
.goals-top ul {
  display: flex;
  font-size: 40px;
  justify-content: space-around;
  padding-bottom: 10px;
}

.goals-box,
.reviews-box {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  display: flex;
  height: 100%;
  flex-direction: column;
  user-select: none;
}

.add-goal-form {
  display: flex;
  width: 20%;
  height: max-content;
  margin: auto;
  margin-bottom: 50px;
}

.timeAgo {
  align-self: flex-end;
  font-size: 16px;
  opacity: 0.6;
}
.goal-item-text {
  margin: 0 10px;
}
.hidden {
  visibility: hidden;
}
.no__goals {
  margin: auto;
  width: max-content;
  flex: 2;
  text-align: center;
  margin-top: 50px;
}
.goals-items {
  overflow-y: auto;
  overflow-x: visible;
  width: 80%;
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
}
.review-items {
  flex: 2;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  flex-direction: column;
}
td {
  border: 1px solid rgba(255, 255, 255, 0.288);
}

.goal-item {
  background-color: rgb(58, 107, 58);
  transition: all 150ms ease-in-out;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
/* .review-list-item {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-radius: 0;
} */
.deleteIcon,
.doneIcon {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.doneIcon:hover {
  color: green;
}
.deleteIcon:hover {
  color: red;
}
.goal-item div {
  width: max-content;
  flex: 2;
}
.importantGoal {
  background-color: #a32338;
  transform: scale(1.05);
}
/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    white,
    rgba(255, 255, 255, 0.2)
  );
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* Burger */
/* burger */
.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}
.demo .menu-icon {
  transform: scale(1.5);
}
:root {
  --bar-bg: #ffffff;
}
.menu-icon {
  position: absolute;
  display: none;
  top: -60px;
  left: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, rgb(255, 255, 255));
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}

@media only screen and (max-width: 1200px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
  .project {
    height: 100px;
    opacity: 1;
  }
  .skills {
    gap: 10px;
  }
  #small-nav {
    position: absolute;
    height: 100vh;
    z-index: 100;
    width: 40vw;
    left: -50%;
  }
  .nav-ul {
    text-align: center;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .nav-ul li {
    width: 100%;
  }
  .menu-icon {
    display: block;
    z-index: 1000;
  }
  .Habit {
    font-size: 100px;
    left: 50%;
    top: 30%;
    opacity: 0.4;
  }
  .about-container {
    width: max-content;
    max-width: 90%;
  }
  #small-nav {
    background: linear-gradient(
      to right,
      rgb(0, 0, 0),
      black,
      rgba(0, 0, 0, 0.9)
    );
  }
  #small-nav li {
    font-size: 30px;
  }

  body {
    overflow-y: auto;
  }
  .grid-itm {
    border-radius: 5px;
    padding: 10px;
  }
  .projects-motion-container {
    border-radius: 10px;
  }
  .grid-itm span {
    font-size: 15px;
    margin: 0 2px;
    text-align: center;
  }

  :root {
    --change: -16px;
    --change2: 15px;
    --changefont: 18px;
  }
}
